# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
# web project files
*.java  text
*.yml  text
*.md  text
*.dist  text
*.js  text
*.css  text
*.bat  text
*.html  text
*.htm  text
#Binary files
*.class binary
*.png binary
*.jpg binary
*.JPG binary
*.bmp binary
*.gif binary
*.ico binary
